<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }} - 专业的《最终幻想 14》国服资料站{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ partial "single/download2.html" . }}

    {{ if .Params.include_footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Params.sidebar }}
    {{ partial "single/sidebar.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
